/*----------------- Responsive ---------------------*/
@media (max-width: 1440px){
	
	.prelatife.container{
		padding: 0 25px;
		max-width: 100%;
	}

	.home_tops_red p {
	    font-size: 1.15rem;
	}

	.home_tops_red h4 {
	    font-size: 1.9rem;
	}

	a.btn.btn-light.btns_custom_def {
	    font-size: 1.2rem;
	}

	.outer-slider-hero.homepage .carousel .carousel-caption h4 {
	    font-size: 2.2rem;
	}

	.outer-slider-hero.homepage .carousel .carousel-caption p {
	    font-size: 1.3rem;
	}

	.home-section-1 .inners h2.titles {
	    font-size: 1.8rem;
	}

	footer.foot .inner-foot .sub-footer ul li a {
	    font-size: 1.1rem;
	}
	header.head .top-menu ul.list-inline li a {
	    font-size: 1.3rem;
	}
	header.head .box-searchs form button {
	    position: absolute;
	    top: 0px;
	    right: 15px;
	    z-index: 17;
	}

}

@media (max-width: 1310px){

	.prelatife.container{

	}

}

@media (max-width: 1280px){

	header.head .top-menu ul.list-inline li {
	    margin-right: 1.5rem;
	}

	header.head .top-menu ul.list-inline li a {
	    font-size: 1.1rem;
	}
	footer.foot .inner-foot .sub-footer h6.sub_title {
	    font-size: 1.2rem;
	}

	.tops_footetr_red .txts_icon span{
		font-size: 0.8rem;
	}
	.tops_footetr_red .txts_icon img{
		max-width: 25px;
    	margin-right: 0.5rem !important;
	}
	.home_tops_red{
		.text-right{
			padding-top: 1rem;
			text-align: left !important;
		}
	}

}

@media (max-width: 1160px){

	.prelative.container{
		padding: 0 15px;
	}
	
}

/* Large desktop */
@media (max-width : 1135px){
	

}

@media (max-width : 1002px) { 
	
	.prelative.container,
	.container{
		width: 100%;
		border: none;
		padding: 0 15px !important;
	}
	.container.cont-fcs{
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.navbar{
		margin: 0;
	}
	.navbar-toggle{}

}

@media (max-width : 991px) { 

	.logo_heads{
		padding-top: 0.5rem;
	}

}


@media (max-width: 992px) {

    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
        color: rgba(0,0,0, 0.8); font-size: 14px; font-weight: 400;
    }
    .collapse.in{
        display:block !important;
    }
    header.head{
    	padding: 0 !important;
    }

}

@media (max-width: 979px) {


}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

}
	
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

	header.head.headers,
	header.head{
		height: auto;
		padding-top: 0.3rem;
	}
	footer [class*="col-md"]{
		text-align: center;
	}

	.navbar-nav>li>a{
		padding: 0.25rem 0;
		color: rgba(0,0,0, 0.8) !important;
	}
	
	.navbar-light .navbar-toggler:focus,
	.navbar-light .navbar-toggler:hover{
		outline: none;
		border: 0;
	}
	.navbar-light .navbar-brand{
		max-width: 165px;
	}
	.navbar-light .navbar-toggler{
		padding: 0px;
		border: 0px;
		box-shadow: none;
	}
	.prelative.container{
		padding: 0 15px;
	}

	.carousel-caption{
		position: relative;
		left: inherit; right: inherit;
		bottom: inherit;
		background-color: #480505;
		padding: 1.75rem 15px;
	}
	.fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide .container.cont-fcs .carousel-caption .bxsl_tx_fcs h3{
		font-size: 1.4rem;
	}
	.fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide .container.cont-fcs .carousel-caption .bxsl_tx_fcs p{
		font-size: 13.5px;
	}
	.fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide .container.cont-fcs .carousel-caption .bxsl_tx_fcs{
		margin-bottom: 0;
	}

	// new update
	.home_tops_red h4 {
	    font-size: 1.4rem;
	}
	.home_tops_red p {
	    font-size: 0.95rem;
	    br{
	    	display: none;
	    }
	}
	.widget-banner-def{
		margin-bottom: 1.2rem;
	}
	.home-section-1 .inners h2.titles {
	    font-size: 1.5rem;
	}
	footer.foot .inner-foot .sub-footer {
	    margin-bottom: 2rem;
	}

	.cover-insides .inners_cover{
		position: relative;
		top: inherit;
		left: inherit;
		background-color: #888;
		padding: 2rem 0;
	}
	.cover-insides .inners_cover .texts h1, .cover-insides .inners_cover .texts h2 {
	    font-size: 1.8rem;
	}
	.cover-insides .inners_cover .texts p{
		font-size: 1.2rem;
	}
	.content-text h2{
		font-size: 2.35rem;
	}
	.content-text h5, .content-text h6{
		font-size: 1.3rem;
	}
	.content-text p{
		font-size: 1.1rem;
		line-height: 1.55;
		text-align: center;
	}
	.content-text h3.sub-titles{
		font-size: 2.1rem;
	}
	.box_detail_electric .descriptions, .lists_electric-solution .descriptions {
	    padding: 1rem 0 !important;
	}
	.box_detail_electric .descriptions h3, .lists_electric-solution .descriptions h3{
		font-size: 1.85rem;
	}
	.box_detail_electric .descriptions p, .lists_electric-solution .descriptions p {
	    font-size: 1.2rem;
	}
	.box_detail_electric .descriptions .lists_small .texts p, 
	.lists_electric-solution .descriptions .lists_small .texts p{
		font-size: 12px; line-height: 1.35;
	}
	a.btn.btns_custom_def.bck-full{
		font-size: 14px;
	}
	.outers_breadcrumbs_cont ol.breadcrumb li.breadcrumb-item a{
		font-size: 11px;
	}
	.box_detail_electric{
		ul{
			margin: 0; margin-right: 0;
			li{
				max-width: 100px;
			}
		}
	}
	.box_detail_electric .descriptions, .lists_electric-solution .descriptions{
		padding-top: 2rem !important;
	}
	.electric-details-2{
		.content-text{
			h2{
				font-size: 1.55rem;
			}
			h6{
				font-size: 1rem;
			}
		}
	}
	.sections_advicesn_page h2.titles {
	    font-size: 1.5rem;
	}
	.sections_advicesn_page .lists_advices_nlistdata .items .info h5{
		font-size: 1.15rem;
	}
	.sections_advicesn_page p{
		font-size: 1.2rem;
	}
	.sections_advicesn_page .box-detail-contents .description_detail p{
		font-size: 1.1rem;
	} 
	.sections_advicesn_page h1.bg-titles{
		font-size: 1.6rem;
	}
	.lists_doc_sheets{
		.items{
			.info{
				h5{
					font-size: 1rem;
				}
			}
		}
	}

	.contacts_outer_content{
		.content-text h2{
			font-size: 1.8rem;
		}
		clear: both;
	}
	.box-form.tl-contact-form form .form-group input, 
	.box-form.tl-contact-form form .form-group textarea{
		font-size: 16px;
	}
	.blocks_address .lists p{
		font-size: 18px;
	}
	.content-text h3.titles-city{
		padding-top: 3rem;
		text-align: center; font-size: 26px;
	}
	.partners_loc{
		.pr-5{
			padding-right: 0 !important;
		}
	}

	.header-affixs.affix{
		display: none;
		visibility: hidden;
	}

	.tops_footetr_red{
		.txts_icon{
			img{
				display: block !important;
				margin: 0 auto !important;
				height: 35px;
				max-width: inherit;
			}
			padding-bottom: 0.5rem;
			// border-bottom: 1px solid #fff;
			min-height: 54px;
			margin-bottom: 1rem;
		}
	}
	.tops_footetr_red .col-md-15{
		margin-bottom: 0.75rem !important;
	}
	.widget-banner-def .info-default {
	    padding: 1.5rem !important;
	    h6{
	    	font-size: 18px;
	    	br{
	    		display: none;
	    	}
	    }
	}
	section.home-section-1{
		padding-bottom: 0 !important;
	}

	.about_outer_content .tops-about.lines_btm .txt .texts{
		font-size: 14px;
	}

	.about_outer_content .tops-about.lines_btm .txt .col-20{
		border-right: 1px solid #ccc;
	}
	.about_outer_content .tops-about.lines_btm .txt .col-20:last-child{
		border-right: 1px solid transparent;
	}

	.content-text h3.sub-titles,
	.content-text h2 {
	    font-size: 1.7rem;
	    br{
	    	display: none;
	    }
	}

	.outer_box_landing .lists_thumbs .box_items{
		margin-bottom: 1.5rem;
	}

	.outer_box_landing .tops_title h3{
		font-size: 23px;
	}

	.outer_box_landing .lists_thumbs .box_items .infos_btm span{
		font-size: 20px;
	}

	.box_detail_electric ul li{
		max-width: inherit;
	}

	ul.others_lst_pictures{
		li{
			max-width: 80px;
		}
	}
	.box_detail_electric{
		.col-md-30.px-4{
			padding: 0 !important;
		}
	}

	.blocks_sectionproduct_blok2 .b_rights_benefits{
		padding-top: 2rem;
		h5{
			text-align: center;
			display: block;
		}
		ul{
			li{
				font-size: 14px;
			}
		}
	}
	.blocks_sectionproduct_blok3{
		.infos{
			padding: 0 2rem;
			font-size: 14px;
			ul{
				li{
					font-size: 14px;
				}
			}
		}
	}
	.blocks_sectionproduct_blok3 .block_grey .infos ol li, 
	.blocks_sectionproduct_blok3 .block_grey .infos p, 
	.blocks_sectionproduct_blok3 .block_grey .infos ul li{
		font-size: 1.1rem;
	}
	.banners_pict.p-4.px-5{
		padding: 0 !important;
	}
	.block_grey{
		p{
			max-width: inherit !important;
		}
	}

	.text-right.backs_to_categorys{
		text-align: left !important;
		padding-top: 0.5rem;
		a{
			padding: 0;
		}
	}

	.box_detail_electric{
		.descriptions{
			text-align: center;
			.lists_small{
				img{
					margin-bottom: 0.75rem;
				}
			}
		}
	}

	.box_detail_electric .descriptions ul li{
		text-align: left;
	}

	.contacts_outer_content .content-text .bloc_desc_contact{
		h2{
			margin-bottom: 0.3rem;
		}
		p{ 
			text-align: left !important;
		}
	}

	.lgo_footer{
		margin-bottom: 2rem;
	}

}

/* Landscape phone to portrait tablet */
@media (max-width: 600px) {

}

/* Landscape phones and down */
@media (max-width: 480px) {

}