@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,700,700i&display=swap');
// font-family: 'Montserrat', sans-serif;

@montserrat : 'Montserrat', serif;
html, body{
    font-size: 12.5px;
}
html,body{
    position: relative;
    overflow-x: hidden;
    background: #ffffff;
}

h1,h2,h3,h4,h5,h6,p, span,a, div{
    font-family: @montserrat;
    margin: 0;
    margin-bottom: 0;
}
h1,h2,h3,h4,h5,h6{
    font-family: @montserrat;
}
p{
    font-family: @montserrat;
}

.prelative,
.prelatife{
    position: relative;
}
.container{
    padding: 0;
    max-width: 1342px;
    margin: 0 auto;
    position: relative;
}

.blocks_btn_to_scroll{
    position: absolute;
    bottom: 25px; left: 0;
    z-index: 25;
    width: 100%;
}

header.head{
    height: auto;
    background-color: #fff;
    padding-top: 1rem;
    .top-menu{
        padding-top: 0.5rem;
        ul.list-inline{
            text-align: left;
            li{
                margin-right: 2.5rem;
                a{
                    font-family: @montserrat;
                    font-size: 17px;
                    color: #000; 
                    font-weight: 400;
                }
            }
            li.active,
            li:focus,
            li:hover{
                a{
                    color: #888;
                    text-decoration: none;
                }
            }
            li:last-child{
                margin-right: 0;
            }
        }
    }
    

    .box-searchs{
        form{
            margin: 0;
            input{
                padding-left: 0; padding-right: 0;
                border: 0;
                border-bottom: 1px solid #cfcfcf;
                border-radius: 0px;

                font-size: 15px; font-weight: 400; 
                color: #adadad;
            }
            button{
                i.fa{
                    font-size: 19px; font-weight: 400; color: #000;
                }
                background: none;
                border: 0;
                background-color: transparent;
            }
        }
        position: relative;
        top: -5px;
    }
    clear: both;
}

.outer-slider-hero.homepage{
    .carousel{
        .carousel-inner{
            // overflow: hidden;
        }
        .carousel-caption{
            h4, p{
                display: block;
                margin: 0; padding: 0;
                line-height: 1;
                color: #fff;
            }
            h4{
                font-size: 46px; font-weight: 700;
                margin-bottom: 0.7rem;
            }
            p{
                font-size: 27px; font-weight: 400;
            }
        }
    }
}

.home_tops_red{
    width: 100%; height: auto;
    background-color: #e42613;
    
    h4, p{
        display: block;
        margin: 0; padding: 0;
        color: #fff;
    }
    h4{
        font-size: 28px; line-height: 1;
        font-weight: 700;
        margin-bottom: 0.5rem;
    }
    p{
        font-size: 16px; 
        font-weight: 400; 
        line-height: 1.2;
    }

    clear: both;
}

.widget-banner-def{
    .info-default{
        h6{
            display: block;
            margin: 0; padding: 0; line-height: 1;
            font-size: 27px;
            font-weight: 700;
            color: #fff;
        }
        position: absolute;
        bottom: 0;
        left: 0px; z-index: 15;
    }
    clear: both;
}

.widget-banner-def.w-fullmiddle{
    .info-default{
        h6{
            color: #000;
        }
        position: absolute;
        bottom: 0;
        left: 0px; z-index: 15;

        width: 100%;
    }
    clear: both;
}

a.btn.btns_custom_def{
    background: none;
    box-shadow: none; border: 0px;

    background-color: transparent;
    padding: 0.35rem 2rem;

    font-size: 17px;
    font-weight: 700;
    color: #fff;
    border-radius: 0px;
    border: 2px solid #fff;
}
a.btn.btns_custom_def:hover,
a.btn.btns_custom_def:focus{
    text-decoration: none;
    outline: none;
    background-color: rgba(255,255,255, 0.05);
}
a.btn.btns_custom_def.bck-full{
    border-color: #565656;
    color: #565656;
    font-size: 18px; font-weight: 700;
    max-width: 80%;
    padding-top: 1rem; padding-bottom: 1rem;
}

.home-section-1{
    .inners{
        h2.titles{
            font-size: 28px; font-weight: 700; color: #000;
        }
    }
    clear: both;
}

.tops_footetr_red{
    background-color: #e42613; height: auto;
    .inner{
        max-width: 1180px;
        margin: 0 auto;
    }
    .txts_icon{
        img{
            display: inline-block;
            vertical-align: middle;
            max-width: 48px;
        }
        span{
            display: inline-block;
            vertical-align: middle;
            line-height: 1;
            font-size: 11px; font-weight: 700; color: #fff;
        }
        text-align: center;
    }
    .col-md-15{
        border-right: 1px solid #fff;
    }
    .col-md-15:last-child{
        border-right: 1px solid transparent;   
    }
}

.clearfix,
.clear{
    clear: both;
}

.lines-grey{
    background-color: rgba(255,255,255, 0.2);
    height: 1px;
    width: 100%;
}

.custom_row{
    .row{
        margin-right: -13px;
        margin-left: -13px;
    }
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-13, .col-14, .col-15, .col-16, .col-17, .col-18, .col-19, .col-20, .col-21, .col-22, .col-23, .col-24, .col-25, .col-26, .col-27, .col-28, .col-29, .col-30, .col-31, .col-32, .col-33, .col-34, .col-35, .col-36, .col-37, .col-38, .col-39, .col-40, .col-41, .col-42, .col-43, .col-44, .col-45, .col-46, .col-47, .col-48, .col-49, .col-50, .col-51, .col-52, .col-53, .col-54, .col-55, .col-56, .col-57, .col-58, .col-59, .col-60, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-13, .col-sm-14, .col-sm-15, .col-sm-16, .col-sm-17, .col-sm-18, .col-sm-19, .col-sm-20, .col-sm-21, .col-sm-22, .col-sm-23, .col-sm-24, .col-sm-25, .col-sm-26, .col-sm-27, .col-sm-28, .col-sm-29, .col-sm-30, .col-sm-31, .col-sm-32, .col-sm-33, .col-sm-34, .col-sm-35, .col-sm-36, .col-sm-37, .col-sm-38, .col-sm-39, .col-sm-40, .col-sm-41, .col-sm-42, .col-sm-43, .col-sm-44, .col-sm-45, .col-sm-46, .col-sm-47, .col-sm-48, .col-sm-49, .col-sm-50, .col-sm-51, .col-sm-52, .col-sm-53, .col-sm-54, .col-sm-55, .col-sm-56, .col-sm-57, .col-sm-58, .col-sm-59, .col-sm-60, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-13, .col-md-14, .col-md-15, .col-md-16, .col-md-17, .col-md-18, .col-md-19, .col-md-20, .col-md-21, .col-md-22, .col-md-23, .col-md-24, .col-md-25, .col-md-26, .col-md-27, .col-md-28, .col-md-29, .col-md-30, .col-md-31, .col-md-32, .col-md-33, .col-md-34, .col-md-35, .col-md-36, .col-md-37, .col-md-38, .col-md-39, .col-md-40, .col-md-41, .col-md-42, .col-md-43, .col-md-44, .col-md-45, .col-md-46, .col-md-47, .col-md-48, .col-md-49, .col-md-50, .col-md-51, .col-md-52, .col-md-53, .col-md-54, .col-md-55, .col-md-56, .col-md-57, .col-md-58, .col-md-59, .col-md-60, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-13, .col-lg-14, .col-lg-15, .col-lg-16, .col-lg-17, .col-lg-18, .col-lg-19, .col-lg-20, .col-lg-21, .col-lg-22, .col-lg-23, .col-lg-24, .col-lg-25, .col-lg-26, .col-lg-27, .col-lg-28, .col-lg-29, .col-lg-30, .col-lg-31, .col-lg-32, .col-lg-33, .col-lg-34, .col-lg-35, .col-lg-36, .col-lg-37, .col-lg-38, .col-lg-39, .col-lg-40, .col-lg-41, .col-lg-42, .col-lg-43, .col-lg-44, .col-lg-45, .col-lg-46, .col-lg-47, .col-lg-48, .col-lg-49, .col-lg-50, .col-lg-51, .col-lg-52, .col-lg-53, .col-lg-54, .col-lg-55, .col-lg-56, .col-lg-57, .col-lg-58, .col-lg-59, .col-lg-60, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-13, .col-xl-14, .col-xl-15, .col-xl-16, .col-xl-17, .col-xl-18, .col-xl-19, .col-xl-20, .col-xl-21, .col-xl-22, .col-xl-23, .col-xl-24, .col-xl-25, .col-xl-26, .col-xl-27, .col-xl-28, .col-xl-29, .col-xl-30, .col-xl-31, .col-xl-32, .col-xl-33, .col-xl-34, .col-xl-35, .col-xl-36, .col-xl-37, .col-xl-38, .col-xl-39, .col-xl-40, .col-xl-41, .col-xl-42, .col-xl-43, .col-xl-44, .col-xl-45, .col-xl-46, .col-xl-47, .col-xl-48, .col-xl-49, .col-xl-50, .col-xl-51, .col-xl-52, .col-xl-53, .col-xl-54, .col-xl-55, .col-xl-56, .col-xl-57, .col-xl-58, .col-xl-59, .col-xl-60, .col-xl, .col-xl-auto{
        padding: 0 13px;
    }
}

footer.foot{
    .inner-foot{
        padding-top: 1.5rem;
        .sub-footer{
            h6.sub_title{
                display: block;
                margin: 0; padding: 0;
                margin-bottom: 1.25rem;
                text-transform: uppercase;
                font-size: 18px; font-weight: 700; color: #000;
                text-decoration: none;
                a{
                    text-decoration: none;
                    color: #000;
                }
            }
            ul{
                li{
                    a{
                        font-size: 13px; font-weight: 400; color: #000000;
                    }
                    margin: 0.35rem 0;
                }
                li:hover,
                li:focus{
                    a{
                        text-decoration: none;
                        color: #000;
                    }
                }
                margin: 0; margin-bottom: 0;
            }
            margin-bottom: 3.8rem;
        }
        clear: both;
    }
    background-color: #eeeeee;
}

@import 'subpage.less';
@import 'n_media_styles.less';