.cover-insides{
	.inners_cover{
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		z-index: 100;
		display: table;
		vertical-align: middle;
		text-align: center;
		.inners_cvr{
			display: table-cell;
			vertical-align: middle; text-align: center;
			height: 100%;
			width: 100%;
		}
		.texts{
			h1, h2, p{
				display: block;
				margin: 0;
				padding: 0;
			}
			h1, h2{
				font-size: 48px;
				font-weight: 700;
				color: #fff;
				line-height: 1;
				letter-spacing: 2px;
			}
			p{
				font-size: 28px;
				font-weight: 700;
				color: #fff;
			}
		}
	}
	clear: both;
	position: relative;
}

.about_outer_content{
	.tops-about.lines_btm{
		.txt{
			text-align: center;
			.texts{
				a{
					color: #6d6e71;
					text-decoration: none;
				}
				font-size: 20px; font-weight: 700; color: #6d6e71;
			}
			clear: both;
		}
		padding-top: 1rem;
		padding-bottom: 1.5rem;
		border-bottom: 1px solid #ccc;
		margin-bottom: 2.5rem;
	}
}


.content-text{
	h1, h2, h3, h4, h5, h6{
		display: block;
		margin: 0; padding: 0;
		line-height: 1.25;
		margin-bottom: 1.5rem;
	}
	h2{
		font-size: 28px;
		font-weight: 700;
		color: #000;
		margin-bottom: 1.5rem;
		letter-spacing: 1px;
	}
	h5,
	h6{
		font-size: 1.7rem;
		font-weight: 700;
		color: #ed3424;
		margin-bottom: 1.2rem;
	}
	h3.sub-titles{
		font-size: 19px;
		font-weight: 700;
		color: #000;
		letter-spacing: 1px;
		margin-bottom: 1rem;
	}
	h2.contact_hotline{
		b,strong{
			font-weight: 700; color: #e42613;
		}
	}
	h3.titles_connect_contact{
		font-size: 37px;
		font-weight: 700; color: #a7a9ac;
		letter-spacing: 1px; text-transform: uppercase;
	}
	h3.titles-city{
		font-size: 34px;
		font-weight: 400; color: #a7a9ac;
	}

	p{
		font-size: 1.5rem;
		font-weight: 400;
		color: #5b5b5b;
		line-height: 1.45;
		margin-bottom: 1.5rem;
		a{
			color: #5b5b5b;
			font-weight: 500;
			text-decoration: underline;
		}
		a:hover,
		a:focus{
			text-decoration: none;
			color: #000;
		}
	}

	ol,
	ul{
		text-align: left;
		margin-right: 0;
		li{
			font-size: 1.5rem;
			font-weight: 400;
			color: #000;
		}
	}

}

.about-gallery-back{
	background-color: #f6f6f6;	
	height: auto; width: 100%;
}

.outers_breadcrumbs_cont{
	position: absolute;
	top: 0;
	left: 0px; width: 100%; z-index: 105;
	padding-top: 0.5rem;
	ol.breadcrumb{
		margin: 0; 
		background: none; background-color: transparent;
		li.breadcrumb-item{
			a{
				font-size: 14px;
				font-weight: 400; color: #fff;
				text-transform: uppercase;
			}
			font-size: 14px;
			font-weight: 400; color: #fff;
			text-transform: uppercase;
		}
		li.breadcrumb-item.active{
			font-size: 14px;
			font-weight: 400; color: #fff;
		}
	}
	.breadcrumb-item + .breadcrumb-item::before {
	    color: #fff;
	    content: "/";
	}
	clear: both;
}
.outers_breadcrumbs_cont.layout2{
	position: relative;
	top: inherit; left: inherit;
	ol.breadcrumb{
		li.breadcrumb-item{
			color: #cccccc;
			a{
				color: #cccccc;
			}
		}
	}
	.breadcrumb-item + .breadcrumb-item::before {
	    color: #ccc;
	    content: "/";
	}
}

.box_detail_electric,
.lists_electric-solution{
	.items{}
	.picts{
		img{}
		position: relative; float: right;
	}
	.grey{
		background-color: #f6f6f6;
	}
	.descriptions{
		h3, p{
			display: block;
			margin: 0; padding: 0; line-height: 1.25;
		}
		h3{
			font-weight: 700; 
			color: #000;
			font-size: 2rem; 
		}
		p{
			font-size: 1.25rem; 
			font-weight: 400;
			color: #414042;
		}
		ul li,
		ol li
		.lists_small{
			.texts{
				span, p{
					display: block;
					margin: 0; padding: 0; line-height: 1.3;
				}
				span{
					text-transform: uppercase;
					font-size: 1rem; font-weight: 700; color: #a7a9ac;
				}
				p{
					font-size: 1.4rem; 
					font-weight: 700; color: #414042;
					line-height: 1.45;
					margin-bottom: 0.3rem;
				}
			}
		}
		background-color: #f6f6f6;
		clear: both;
	}
	clear: both;
}

.solution_outer_content.backs_detailprd_1{
	background-color: #f6f6f6;
}
.lines-greys{
	background-color: #bebebe; height: 2px;
}

h6.learns_more{
	font-size: 18px; font-weight: 700;
	color: #96989c;
}
a:hover,
a:focus{
	text-decoration: none;
	h6.learns_more{
		color: #000;
	}
}

.box-form.tl-contact-form{
	form{
		.form-group{
			label{}
			input, textarea{
				border-radius: 0;
				border: 2px solid #dadadb;

				font-size: 17px; font-weight: 400; color: #5b5b5b;
			}
			input{}
			textarea{}

		}
		button.btns-submit-bt{
			background: none;
			background-color: #e42613; border-radius: 0px;
			
			padding: 0.6rem 3rem;
			letter-spacing: 1px; text-transform: uppercase;
			font-size: 17px; font-weight: 700; color: #fff;
		}
	}
}

.contacts_outer_content{
	background:#fff url('../images/backs_cont-contacts.jpg') top left no-repeat;
	width: 100%;
	height: auto;
}

.sections_advicesn_page{

	h2.titles{
		font-size: 38px; font-weight: 700; color: #a7a9ac;
		font-family: 'Arial', sans-serif;
		letter-spacing: 1px;
	}
	p{
		font-size: 21px; font-weight: 400; color: #000;
	}
	
	.lists_advices_nlistdata{
		.items{
			.pict{
				img{}
			}
			.info{
				h5{
					display: block;
					margin: 0;
					padding-top: 0.45rem;
					font-size: 24px; font-weight: 700; color: #ed3424;

					clear: left;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
			}
		}
	}
	
	.box-detail-contents{
		h4.reds{
			text-transform: uppercase; letter-spacing: 1px;
			font-size: 26px; font-weight: 700; color: #ed3424;
		}

		.description_detail{
			img{
				max-width: 100%;
				height: auto;
				margin-bottom: 2rem;
			}
			p{
				font-size: 22px; font-weight: 400; color: #000;
				line-height: 1.45;
				margin-bottom: 2rem;
			}
		}
		.others_variant{
			p.red_title{
				font-size: 16px; font-weight: 700; color: #e42613;
			}
			p{
				font-size: 22px; font-weight: 700; color: #000;
				margin-bottom: 0;
			}
		}
		clear: both;
	}


	h1.bg-titles{
		font-size: 48px; font-weight: 400; color: #6d6e71;
		letter-spacing: 1px; text-transform: uppercase;
	}
	clear: both;
}

.outer-blok-black-menuresponss-hides{
    display: none;

    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 7000;
    background-color: #fff;

    width: 100%;
    height: 100%;
    .line-separate{
    	background-color: #dadada;
    	height: 1px;
    	width: 200px;
    }
}
.menu-sheader-datals{ text-align: center; }
.menu-sheader-datals ul{ margin: 0px; padding: 0px; }
.menu-sheader-datals ul li{ padding: 0.1em 0px; position: relative; }
.menu-sheader-datals ul li.separate{
    padding: 0px; margin: 0 auto;
    background-color: rgba(255,255,255, 0.1);
    width: 17px; height: 1px;
}
.menu-sheader-datals ul li a{ font-size: 20px; letter-spacing: 0px; font-weight: 700; color: #797979; }
.menu-sheader-datals ul li a:focus,
.menu-sheader-datals ul li a:hover{
    color: #797979; text-decoration: none;
}
.menu-sheader-datals ul.n_menu2{
	li{
		a{
			font-weight: 500;
		}
	}
}



.blocks_sectionproduct_blok2{
	.lefts_block_icons{
		.boxs_item{
			.pict{
				img{
					display: block; margin: 0 auto;
					text-align: center;
				}
				display: block;
				margin-bottom: 1rem;
			}
			.info{
				display: block;
				h6{
					font-size: 1.2rem;
					font-weight: 400; 
					color: #5f5e63;
					line-height: 1.45;
					margin-bottom: 0;
				}
				display: block;
				margin: 0 auto;
				max-width: 210px;
				min-height: 42px;
				max-height: 65px;
				height: auto;
				overflow: hidden;
				text-align: center;
			}

			// min-height: 240px;
			// height: 240px;
			padding: 3.85rem 0;
			clear: both;
			text-align: center;
		}
		.row{
			border-left:  1px solid #d5d5d5;
		}
		.col-md-20.tops_dt{
			border-top: 1px solid #d5d5d5;
		}
		.col-md-20{
			border-bottom: 1px solid #d5d5d5;
			border-right:  1px solid #d5d5d5;
		}
		clear: both;
	}
	.b_rights_benefits{
		h5{
			font-size: 19px; font-weight: 700;
			color: #5f5e63;
		}
		ol li,
		ul li,
		p{
			font-size: 16px; 
			font-weight: 400;
			color: #5f5e63;
		}
		p{
			line-height: 1.6;
		}

		ol li,
		ul li{
			margin-bottom: 0.55rem;
		}

		clear: both;
	}

	clear: both;
}

.backs_grey{
	background-color: #f6f6f6;
}

.blocks_sectionproduct_blok3{
	h5{
		font-size: 19px; font-weight: 700;
		color: #5f5e63;
	}
	
	.block_grey{
		background-color: #f6f6f6;
		.infos{
			ol li,
			ul li{
				margin-bottom: 0.3rem;
			}
			ol li,
			ul li,
			p{
				font-size: 1.3rem; 
				font-weight: 400;
				color: #2f2d2e;
			}

			// ol {
			// 	list-style: none; counter-reset: li
			// }
			// li::before {
			// 	content: counter(li); 
			// 	color: #fff;
			// 	background-color: #e93929;
			//   	display: inline-block;
			//   	width: 1em;
			//   	margin-left: -1em;
			// }
			// li {
			// 	counter-increment: li;
			// }

		}
		clear: both;
	}
}

ul.others_lst_pictures{
	li{
		img{
			border: 1px solid #ccc;
		}
		max-width: 110px;
	}
}

.block_grey{
	.table-responsive{
		table.table{
			thead{
				th{
					background: #bdbdbd;
				    border-right: 1px solid #f5f5f5;
				    display: table-cell;
				    vertical-align: middle;
				    text-align: center;
				}
			}
			tbody{
				td{
					text-align: center;
				}
			}
		}
	}
}

.lists_others_prdDetail{
	.items{
		.picture{
			img{}
		}
		.info{
			h5 a,
			h5{
				font-size: 1.5rem; 
				font-weight: 500;
				color: #727272;
				text-decoration: none;
				line-height: 1.45;
			}
			padding: 0 1rem;
		}
		clear: both;
	}
	clear: both;
}

.about_outer_content{
	.content-text{
		max-width: 1032px;
		margin: 0 auto;
		clear: both;
	}
}
.content-text p{
	font-size: 17px;
}

.bxn_custom_thermor{
	.texts{
		max-width: 289px;
		p{
			font-weight: 400;
			color: #000;
			line-height: 1.45;
			font-size: 1.35rem;
			margin: 0;
		}
		padding: 1rem 0;
	}
	.col-md-20,
	.col-md-30{
		border-right: 1px solid #ccc;
	}
	.col-md-20:last-child,
	.col-md-30:last-child{
		border-right: 1px solid transparent;
	}
	.lines-grey{
		background-color: #cccccc;
		height: 1px; width: 100%;
	}
	clear: both;
}

.partners_loc{
	background-color: #e7e7e9;
	form{
		select.form-control{
			background-color: transparent;
			padding-top: 0.5rem;
			padding-bottom: 0.5rem;
		}
	}
	clear: both;
}

.blocks_info_address{
	
	h3.titles-city{
		text-align: center;
		color: #000;
	}

	.blocks_address{
		.lists{
			p{
				font-size: 16px;
				b,strong{
					font-weight: 700; color: #000;
				}
				line-height: 1.5;
			}
		}
	}

	clear: both;
}

form.set_check_form{
	max-width: 500px;
	margin: 0 auto;
	select.form-control.changed_city {
	    font-size: 1.4rem;
	    height: auto;
	    padding: 0.6rem 1rem;
	}
	clear: both;
}

// @import url('https://fonts.googleapis.com/css?family=Rajdhani:400,700&display=swap');
// @rajdhani: 'Rajdhani', sans-serif;

.outer_box_landing{
	.tops_title{
		h3{
			// font-family: @rajdhani;
			font-size: 36px; font-weight: 700; color: #000000;
		}
	}
	clear: both;
	
	.lists_thumbs{
		.box_items{
			img{}
			position: relative;
			z-index: 2;
			overflow: hidden;
			.infos_btm{
				span{
					font-family: @montserrat;
					font-size: 24px; font-weight: 700; color: #fff;
				}

				position: absolute;
				bottom: 0px;
				left: 0px;
				// width: 100%;
				// text-align: center;
				padding: 1rem 2rem;
				z-index: 10;
			}
		}
	clear: both; 	
	}
}

.backs_to_categorys{
	a{
		font-size: 14px;
		font-weight: 700;
		color: #868686;
		text-decoration: none;
	}
	a:hover,
	a:focus{
		text-decoration: none;
		color: #000;
	}
}


.header-affixs.affix-top{ top: -1000px; position: fixed; }
.header-affixs.affix{ top: 0px; left: 0px; }
.header-affixs{
    background-color: rgba(255,255,255,0.9);
    height: 75px;
    width: 100%;
    z-index: 1000;
    border-bottom: 3px solid #e42613;
    z-index: 750;
    
    position: fixed;
    z-index: 350;

}
.menu-taffix{}
.menu-taffix ul{ margin: 0; padding: 0px; }
.menu-taffix ul li{ padding: 0px; padding: 0 10px; }
.menu-taffix ul li a{ text-decoration: none; text-transform: uppercase; font-size: 15px; font-weight: 700; color: #5b5b5b; }
.menu-taffix ul li.active a,
.menu-taffix ul li a:hover{ text-decoration: none; color: #000; }